<div id="<%= dom_id equipo %>">
  <p>
    <strong>Name:</strong>
    <%= equipo.name %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= equipo.description %>
  </p>

  <p>
    <strong>Serial:</strong>
    <%= equipo.serial %>
  </p>

  <p>
    <strong>Adquisition:</strong>
    <%= equipo.adquisition %>
  </p>

  <p>
    <strong>State:</strong>
    <%= equipo.state %>
  </p>

  <p>
    <strong>Location:</strong>
    <%= equipo.location %>
  </p>

</div>
